html, body{
	margin: 0;
	padding: 0;
	padding-top: 30px;
	font-size: 14px;
	background: url('img/back.jpg');
	background-repeat: none;
	background-size: 120%;
}

@font-face{
	font-family: "PF";
	src: url(../fonts/my.otf);
}

#header{
	background: #DDE9EE;
	border-radius: 30px 0 0 30px;
	font-family: "PF";
	margin: 0 auto;
	width: 900px;
	height: 700px;
	overflow: auto;
	-webkit-box-shadow: 0px 1px 11px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 1px 11px 2px rgba(0,0,0,0.6);
	box-shadow: 0px 1px 11px 2px rgba(0,0,0,0.6);
}

nav{
	background: #8FB8C9;
	font-family: "PF";
	font-size: 27px;
	float: left;
	position: fixed;
	width: 300px;
	height: 700px;
	border-radius: 30px 0 0 30px;
	-webkit-transition: 0.1s;
     -moz-transition: 0.1s;
     -o-transition: 0.1s;
     transition: 0.1s;
}

nav li:hover{
	margin-left: 10px;
	list-style: disc;
	-webkit-transition: 0.1s;
     -moz-transition: 0.1s;
     -o-transition: 0.1s;
     transition: 0.1s;
}

ul {
	color: #f7f7f7;
}

nav li{
	padding-right: 10px;
	padding-top: 1em;
	list-style: none;
}

a{
	text-decoration: none;
	color: #000000;
}

h2{
	font-weight: normal;
}


.books{
	background: #ffffff;
	border-radius: 5px 5px 5px 5px;
	margin-right: 15px;
	float: right;
	margin-top: 10px;
	width: 550px;
	height: 200px;
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
}

.books input{
	font-size: 25px;
	color: #ffffff;
	font-family: "PF";
}

.book{
	margin-left: 3px;
	float: left;
	width: 150px;
	height: 190px;
	margin-top: 5px;
}

.description_nam{
	margin-top: 10px;
	float: right;
	width: 190px;
	height: 40px;
}

.description_nam span{
	font-family: Arial;
}

.description_aut{
	margin-top: 10px;
	margin-left: 5px;
	float: right;
	width: 190px;
	height: 30px;
}

.description_aut span{
	font-family: Arial;
}

.description_des{
	margin-top: 10px;
	float: right;
	width: 190px;
	height: 100px;
	overflow: auto;
}

.description_des span{
	font-family: Arial;
}

.otziv{
	margin-left: 5px;
	margin-top: 10px;
	float: right;
	width: 190px;
	height: 60px;
}

.otziv span{
	font-family: Arial;
}

#info {
	float: right;
	width: 550px;

}


#givebook {
	margin-top: 5px;
	float: right;
	width: 550px;
}

#givebook form {
	font-size: 22px;
	width: 450px;
}

#givebook input{
	width: 400px;
	margin-top: 10px;
	font-size: 30px;
	font-family: "PF";
}

#givebook p {
	font-size: 28px;
	width: 100px;
	height: 5px;
}




.text{
	font-size: 30px;
	margin-top: 55px;
}

.text li{
	margin-top: 30px;
	padding-bottom: 30px;
	color: #000000;
}

.text h2{
	margin: 0 auto;
	width: 450px;
	font-size: 50px;
}

.text h1{
	margin: 0 auto;
	width: 450px;
	font-size: 43px;
}

.btn {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 29px;
  background: #8FB8C9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2298c9;
  text-decoration: none;
}

.order{
	float: right;
	width: 100px;
	height: 40px;
	border-radius: 15px 0 0 0;
	background: #8FB8C9;
	text-align: center;
	position: inherit;
	margin-top: 0px;
}

.order:hover{
background: #2298c9;	
}


#banner{
	position:absolute;
	right:0px;
	text-align: center;
	margin: 0 auto;
	height: 200px;
	width: 400px;
	text-align: center;
	font-size: 28px;
	background: #8FB8C9;
	color: #000000;
	border-radius: 30px 0 0 30px;
	opacity: 100;
	-webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}

#banner p {
	margin-top: 10%;
}